.section-about-box{
    display: flex;
    justify-content: center;
    margin: 5rem 5rem 0 5rem;
    text-align: justify;
}
.about-image-box,.about-text-box{
    width: 50%;
    padding: 0 2rem;
}
.about-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 25rem; */
}
.about-image-box{
    position: relative;
    display: flex;
    justify-content: center;
    /* border: #93f3bd solid 2px; */
}
.about-text-box p{
    text-align: justify;
    color: rgb(201, 197, 197);
}
.about-image-box img{
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    border: #93f3bd solid 3px;
}


@media  screen and (max-width:56.25em) {
    .section-about-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-image-box,.about-text-box{
        width: 100%;
    }
}
.green{
    color: #93f3bd;
}
.purple{
    color:#9b8ec6;
}
.yellow{

    color:#f7f8b0;
}
.heading-secondary1{
    font-size: 2.8rem;
    color: ivory;
}