.section-about-box{
    display: flex;
    margin-bottom: 10rem;
}
.about-image-box,.about-text-box{
    width: 50%;
    padding: 0 2rem;
}
.about-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about-image-box{
    position: relative;
    /* border: #93f3bd solid 2px; */
}
.about-text-box p{
    text-align: justify;
    color: rgb(201, 197, 197);
}
.about-image-box img{
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}
.about-image-box::after{
    content: "";
    width: 10rem;
    height: 10rem;
    margin-top: -9rem;
    margin-left: -8rem;
    top:100%;
    bottom: 50%;
    position: absolute;
    border-width: 0 5px 5px 0;
    border-style: solid;
    border-color:#93f3bd;
    border-bottom-right-radius: 2rem;
}
.about-image-box::before{
    content: "";
    width: 10rem;
    height: 10rem;
    position: absolute;
    margin-top: -2rem;
    margin-left: -2rem;
    border-width: 5px 0 0 5px;
    border-style: solid;
    border-color:#93f3bd;
    border-top-left-radius: 2rem;
}
@media  screen and (max-width:56.25em) {
    .section-about-box{
        flex-direction: column;
        align-items: center;
    }
    .about-image-box,.about-text-box{
        width: 100%;
    }
}
.green{
    color: #93f3bd;
}
.purple{
    color:#9b8ec6;
}
.yellow{

    color:#f7f8b0;
}
.heading-secondary1{
    font-size: 2.8rem;
    color: ivory;
}