@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.card {
    width: 30rem;
    margin:7rem 0;
    position: relative;
    perspective: 150rem;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
}

.front {
    height: 30rem;
    width: 30rem;
    /* background-image: url('../../images/events/photographia.png'); */
    background-size: contain;
    transition: all 0.8s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    z-index: 1;
    
}

.back {
    height: 30rem;
    width: 30rem;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    /* border: skyblue 1px solid; */
}

.card:hover .front {
    transform: rotateY(180deg);
    backface-visibility: hidden;

}

.card:hover .back {
    transform: rotateY(0);
    backface-visibility: hidden;
}

.card__details ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__picture img{
    background-size: cover;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-top-left-radius: 20%;
    z-index: 0;

}

.card__heading{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color:white;
    width:75%;
    position: absolute;
    top:12rem;
    right: 2rem;
}

.card__heading-span{
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break:clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(rgb(78, 66, 118), 0.85),rgba(rgb(99, 70, 194), 0.85));
}

.card__details ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color:black;
}

.card__details ul li:not(:last-child){
    border-bottom: 0.1px solid black;

}

.card__cta{
    width: 90%;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
}

.card__price-box{
    text-align: center;
    margin-bottom: 8rem;
    color: white;
}

.card__price-only{
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__price-value{
    font-size: 4rem;
    font-weight: 100;
}
.bookNow{
  z-index: 0;
}
#presentario{
    background-image: url('../../images/events/Presentario.png');
    border: skyblue 1px solid;

}
#cnario{
    background-image: url('../../images/events/cnario.png');
    border: skyblue 1px solid;
    
}
#rectifier{
    background-image: url('../../images/events/RECTIFIER.png');
    border: skyblue 1px solid;


}
#ideathon{
    background-image: url('../../images/events/IDEATHON.png');
    border: rgb(147, 243, 189) solid 1px;
    
}
#robotics{
    background-image: url('../../images/events/robotics.png');
    border: rgb(147, 243, 189) solid 1px;

}
#avishkar{
    background-image: url('../../images/events/Avishkar.png');
    border: rgb(147, 243, 189) solid 1px;
    
}
#ideeeas-idol{
    background-image: url('../../images/events/ideeeas-idol.png');
    border: rgb(218, 188, 248) solid 1px;
    
}
#trademark{
    background-image: url('../../images/events/trademark.png');
    border: rgb(218, 188, 248) solid 1px;

}
#photographia{
    background-image: url('../../images/events/photographia.png');
    border: rgb(218, 188, 248) solid 1px;
    
}
#blitz{
    background-image: url('../../images/events/blitz.png');
    border: rgb(247, 248, 176) solid 1px;
    
}
#webify{
    background-image: url('../../images/events/webify.png');
    border: rgb(247, 248, 176) solid 1px;
}
.card_desc{
    color: black;
    margin: 2rem;
    font-size: large;
    font-family: 'Raleway', sans-serif;
}
#presentario-back, #cnario-back, #rectifier-back{
    background-color:#86c1c1;
    border: skyblue solid 1px;
}
#ideathon-back, #robotics-back, #avishkar-back{
    background-color:rgb(130, 200, 137);
    border: #93f3bd solid 1px;
}
#trademark-back, #ideeeas-idol-back, #photographia-back{
    background-color:#9b8ec6;
    border: rgb(218, 188, 248) solid 1px;
}
#webify-back, #blitz-back{
    background-color:rgb(234, 235, 159);
    border: #f7f8b0 solid 1px;
}
#cnario-border{
    border: #87ceeb solid 1px;

}
#ideathon-border{
    border: #93f3bd solid 2px;

}
#trademark-border{
    border: #dabcf8 solid 2px;

}
#webify-border{
    border: #f7f8b0 solid 2px;

}
#last-one{
    grid-column: 2/4;
    justify-self: center;
    grid-row:4/5;
}
#last-but-one{
    grid-column:1/3;
    grid-row:4/5;
    justify-self:center;
}