#c-head
{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: #dabcf8;

}
#i-head{
    font-size: 2rem;
    letter-spacing: 1rem;
}

.flex1, .flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex3, .flex4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-card{
    width: 25rem;
    height: 25rem;
    border: #dabcf8 2px solid;
    margin: 5vh;
}