.event{
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.9rem;
    color: white;
    background-image: url('../../images/b1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.poster{
    padding: 2rem 0;
    width: 30%;
    height: 30%;
}
.event h2{
    text-align: left;
}
.event p{
    padding: 2rem 0;
    text-align: justify;
}
.event ul{
    margin-left: 6rem;
}
.event ul li{
    text-align: left;
    margin: 1rem;
}
.buttons{
    margin: 3rem 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact{
    display: flex;
}
.iconImage{
   width:4%;
   height: 4%;
   margin-right: 2vh;
   transform: translateY(2vh);
}
li{
    list-style: none;
}
@media only screen and (max-width: 75em) {
    .iconImage{
        display: none;
    }
}