@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
.header {
    position: relative;
    height: 100vh;
    padding: 1rem;
    /* background-image: linear-gradient(to left bottom, var(--primary), var(--primary)), url("../../images/2224392.webp"); */
    /* background-image: url("../../images/3d08e03cb40252526fee2036a67f07f1.gif"); */
    background-image: url('../../images/b10.webp');
    background-size: cover;
    /* background-position: top; */
    /* clip-path: polygon(0 0, 0 100%, 100% 87vh, 100% 0); */
    /* border-bottom: 1px solid linear-gradient(to left, var(--font-color-1),var(--font-color-2),var(--font-color-3)); */
}

/* @media only screen and (min-width:37.5em),
(min-width:125em) {
    .header {
        background-image: linear-gradient(to left bottom, rgba(rgb(56, 56, 118), 0.8), rgba(rgb(41, 41, 188), 0.8));
    }
} */


.header__logo-box {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
    left: 50%;
    transform: translate(-50%);
}

.logo-box-child{
    display: flex;
    justify-content: space-evenly;
    width: 60rem;
    margin-top: 0.1rem;
}

.header__logo {
    height: 4.5rem;
    /* margin-right: 2rem; */
}

.header__text-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media only screen and (max-width: 700px) {
    #head-main{
        font-size: 30px;
        letter-spacing: 2.3rem;
        
        
    }
}
@media only screen and (max-width: 75em) {
    .header__logo-box {
        width: 100%;
        justify-content: space-around;
    }
    .header__logo {
        height: 5rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .header{
        height: 98vh;
    }
    /* #head-main{
    font-size: 20px;

    } //////////////////////////////////////////////////////////////////////////*/
    .row{
        flex-direction: column;
    }
    .header__logo-box {
        width: 100%;
        justify-content: space-around;
    }
    .header__logo {
        height: 3rem;
    }
}
#events 
{
    background-image: url('../../images/b18.webp');
    background-size: cover;
    background-color: black;
    padding: 5rem;
}
.section-timeline{
  
    /* background-color: transparent; */
    background-image: url('../../images/b17.webp'); 
     background-size: cover;


}
.section-sponsors{
    background-image: url('../../images/b13.webp');
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    /* background-color: rgb(25, 25, 25); */
}
.section-about{
    background-image: url('../../images/b15.webp');
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    /* background-color: rgb(25, 25, 25); */
}
#head-main{
    font-family: 'Raleway', sans-serif;
    /* transform: translate(2rem,6.2rem); */
    font-size: 5.5rem;
    font-weight: 900;
    /* margin-left: 10vh; */
    /* width: 210vh; */
    
    /* margin-top: 6rem; */
}
.skyblue{
    color: white;
    animation: blink .5s 2 2s forwards;

}
@keyframes blink{
   
    0%, 30%,60%,90%{
        
        text-shadow:
       
        0 0 4px #86c1c1,
        0 0 4px #86c1c1,
        0 0 3px #86c1c1,
        0 0 3px #86c1c1,
        0 0 5px #86c1c1;
    }
        15%,45%,75%{
        text-shadow: none;
    }
    100%{
        
       color: rgb(126, 211, 245);
    }


}
#essence-spon{
width: 22rem;
height: 10.5rem;
/* border: red solid 1px; */
margin: 2vh;
}
.title-sec{
    transform: translateY(10vh);
}
#sitsb{
    font-size: 2.1rem;
}
