.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to left bottom, var(--primary), var(--primary)), url("../../images/2224392.png");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 0 100%, 100% 80vh, 100% 0);
    border-bottom: 1px solid linear-gradient(to left, var(--font-color-1),var(--font-color-2),var(--font-color-3));
}

@media only screen and (min-width:37.5em),
(min-width:125em) {
    .header {
        background-image: linear-gradient(to left bottom, rgba(rgb(56, 56, 118), 0.8), rgba(rgb(41, 41, 188), 0.8));
    }
}


.header__logo-box {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 3rem;
    left: 50%;
    transform: translate(-50%);
}

.header__logo {
    height: 6.5rem;
    /* margin-right: 2rem; */
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width: 75em) {
    .header__logo-box {
        width: 100%;
        justify-content: space-around;
    }
    .header__logo {
        height: 5rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .row{
        flex-direction: column;
    }
    .header__logo-box {
        width: 100%;
        justify-content: space-around;
    }
    .header__logo {
        height: 3rem;
    }
}
