:root{
    --primary:rgba(0,0,255,0.6);
    --secondary:white;
    --tertiary:rgba(15,15,15);
    --font-color-1:#590995;
    --font-color-2:#c62a88;
    --font-color-3:#150485;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    /* margin: 2rem; */
    /* font-family: "Lato", sans-serif; */
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
}

@media only screen and (max-width: 56.25em) {
    body {
        margin: 0;
    }
}

.heading-primary {

    text-transform: uppercase;
    color: rgb(238, 237, 237);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26vh;
    
}

.heading-primary--main {
    display: block;
    font-size: 6.9rem;
    letter-spacing: 5rem;
    text-shadow: -0.26rem 0.3rem rgba(98, 99, 99, 0.419);
}

.heading-primary--sub {
    /* display: block; */
    font-size: 1.2rem;
    letter-spacing: 1rem;
    /* margin-top:8rem; */
    margin:3vh;
    text-align: center;
}

.heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    color: ivory;
    letter-spacing: 0.2rem;
}

.heading-tertiary{
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
}

.section-about{
    padding: 10vh;
    background-color: var(--secondary);
    padding: 0rem;
    text-align: center;
    /* margin-top: 30vh; */
}
.section-sponsers{
    background-color: var(--secondary);
    padding: 2rem 0 0 0;
    text-align: center;
}

.section-events {
    background-color: var(--secondary);
    padding: 1rem 7rem;
    text-align: center;
}

.section-events__cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:3rem;
    margin-top: 5rem;
    justify-items: center;
}

.section-timeline{
    background-color: var(--secondary);
    text-align: center;
    padding: 10rem;
}

.section-testimonials{
    background-color: var(--secondary);
    text-align: center;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:125em){
    html{
        font-size:65%;
    }
}

@media only screen and (max-width: 90em) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 40%;
    }
    .row{
        flex-direction: column;
    }
}
@media screen and (max-width: 40em){
    html{
        font-size: 30%;
    }
}
@media only screen and (max-width: 31.25em){
    html{
        font-size: 40%;
    }
    .section-events__cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 14em){
    html{
        font-size: 20%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 100%;
    }
}
.heading-primary--sub1{
    display: block;
    font-size: 1.7rem;
    letter-spacing: 1rem;
    margin-top:0rem;
    
}

.heading-primary--sub2{
    display: block;
    font-size: 1.7rem;
    letter-spacing: 1rem;
    transform: translateY(-10vh);
}