:root{
    --primary:rgba(0,0,255,0.6);
    --secondary:white;
    --tertiary:rgba(15,15,15);
    --font-color-1:#590995;
    --font-color-2:#c62a88;
    --font-color-3:#150485;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: var(--tertiary);
    /* background-image: url("./images/istockphoto-1183632265-612x612.jpg"); */
    /* background-image: url("./images/2224392.png"); */
}

body {
    box-sizing: border-box;
    margin: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
}

@media only screen and (max-width: 56.25em) {
    body {
        margin: 0;
    }
}

.heading-primary {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 4rem;
    letter-spacing: 3.5rem;
    animation: move-left forwards 2s ease-out;
    opacity: 0;
    transform: translateX(-10rem);
}

.heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 1.5rem;
    animation: move-right forwards 2s ease-out;
    opacity: 0;
    transform: translateX(10rem);
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, var(--font-color-1), var(--font-color-2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s;
    letter-spacing: 0.2rem;
}

.heading-tertiary{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.section-about{
    margin-top: -20vh;
    background-color: var(--secondary);
    padding: 30rem 5rem 5rem 5rem;
    text-align: center;
}
.section-sponsers{
    background-color: var(--secondary);
    padding: 2rem 0 0 0;
    text-align: center;
}

.section-events {
    background-color: var(--secondary);
    padding: 20rem 5rem;
    text-align: center;
}

.section-events__cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
}

.section-timeline{
    background-color: var(--secondary);
    text-align: center;
    padding: 10rem;
}

.section-testimonials{
    background-color: var(--secondary);
    text-align: center;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes move-left {
    0% {
        opacity: 0.5;
    }

    85% {
        transform: translateX(1rem);
        opacity: 0.9;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes move-right {
    0% {
        opacity: 0.5;
    }

    85% {
        transform: translateX(-1rem);
        opacity: 0.9;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes move-up {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



@media only screen and (max-width: 90em) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
    .row{
        flex-direction: column;
    }
}

@media only screen and (max-width: 22em){
    html{
        font-size: 30%;
    }
}

@media only screen and (max-width: 14em){
    html{
        font-size: 20%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 110%;
    }
}